@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.img-responsive {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.unic-box-shodow {
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(187, 187, 187);
    transition: 0.2s;
}

.unic-box-shodow-hover {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0rem 0rem black;
    border: 0.1rem solid rgb(187, 187, 187);
    transition: 0.2s;
}

.unic-box-shodow-hover:hover {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(69, 69, 69, 0.33);
    border: 0.1rem solid rgb(187, 187, 187);
    transition: 0.2s;
}

.unic-box-shodow-hover:focus {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.5rem 0rem rgba(69, 69, 69, 0.624);
    border: 0.1rem solid rgb(187, 187, 187);
    transition: 0.2s;
}

.basic-button {
    font-family: 'Overlock', sans-serif;
    font-weight: bolder;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: white;
    /* border: none; */
    cursor: pointer;
    /* box-shadow: 0rem 0rem 0.5rem 0rem black; */
    border-radius: 0.3rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-trash:hover {

    color: red;
}

.basic-done:hover {

    color: rgb(0, 255, 17);
}

.fixer {
    display: none;
}

.fixer-block {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    z-index: 10000;
}


.content-closer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.282);
}

.content-collection {
    font-family: 'Overlock', sans-serif;
    position: absolute;
    width: 20rem;
    height: 100%;
    margin-right: -20rem;
    background-color: rgb(255, 255, 255);
    animation: animateCollectionBox 0.6s forwards;
}

.collection-content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    overflow: auto;
    height: 75%;
}

.content-collection-none {
    display: none;
}

.cart-tortal {
    font-size: 1.1rem;
    font-weight: bolder;
    white-space: nowrap;
}

@keyframes animateCollectionBox {
    0% {
        margin-right: -20rem;
    }

    100% {
        margin-right: 0rem;
    }
}

.content-message {
    border-radius: 1rem;
    position: absolute;
    width: 40%;
    min-width: 25rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    animation: animateMessageAlertBox 0.4s forwards;

}

.content-message-none {
    display: none;
}

@keyframes animateMessageAlertBox {
    0% {
        width: 40%;
        height: 80%;
    }

    100% {
        width: 50%;
        height: 90%;
    }
}

.basic-input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(114, 114, 114);
    outline-style: none;
    width: 70%;
    font-family: 'Overlock', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.basic-input:focus {
    padding: 0.5rem;
    border-radius: 0.3rem;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.046);
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    row-gap: 1rem;
}

.navigation {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    column-gap: 7rem;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
}

.native-navigation-main {
    display: none;
}



.native-navigation {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    row-gap: 2rem;
    font-family: 'Overlock', sans-serif;
    font-weight: bold;
    animation: native-navigation 0.6s forwards;
}

@keyframes native-navigation {
    0% {
        margin-left: -60rem;
    }

    100% {
        margin-left: 0rem;
    }
}

.native-navigationOptions {

    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: 1rem;

}

.native-navigationOptions a {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.explere-main {
    display: flex;
    align-items: center;
}

.explere-main:hover+.explore-content {
    display: flex;
    flex-direction: column;
    align-items: start;

    cursor: default;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-top: 1.7rem;
    margin-left: 4rem;
    font-size: 0.9rem;
}

.explere-main:focus+.explore-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: default;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-top: 1.7rem;
    margin-left: 4rem;
    font-size: 0.9rem;
}

.explore-content:hover {
    display: flex;
    flex-direction: column;
    align-items: start;

    cursor: default;
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-top: 1.7rem;
    margin-left: 4rem;
    font-size: 0.9rem;
}

.explore-content {
    display: none;
}

.native-navigation-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
}

.LogoAndName {
    color: black;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Overlock', sans-serif;
    display: flex;
    align-items: center;
    white-space: nowrap;
}



.LogoAndName div {

    width: 5rem;
    height: 5rem;
    background-size: 200% auto;
    background-image: url(gameTune/backend_res/vecteezy_cute.svg);
}

.navigationOptions {
    font-family: 'Overlock', sans-serif;
    font-size: 1.2rem;
    display: flex;
    font-weight: bold;
    column-gap: 1rem;

}

.navigationOptions a {
    color: black;
    text-decoration: none;
}

.navigationOptions a:hover {
    color: black;
    text-decoration: underline;

}

.AccountAndCollection {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 3rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    background-color: rgb(255, 255, 255);
}


.AccountAndCollectionButton {

    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.AccountAndCollectionButton:hover {

    background-color: rgb(221, 221, 221);
}



.activiteNavidateButton {
    display: none;
}

.homeContent {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20rem;
    row-gap: 0rem;
    opacity: 0%;
    animation: homeContent 0.8s forwards;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 6rem;
}

.leftSide span {
    white-space: nowrap;
    font-weight: bolder;
    font-size: 3rem;
    max-width: 30rem;
    font-family: 'Overlock', sans-serif;

}

.homeContent div:nth-child(2) {

    width: 30rem;
    height: 30rem;
    background-size: 180% auto;
    background-color: transparent;
    background-image: url(gameTune/portrait-cute-young-gi_UQ5H4k3.png);
}

.responsiveStatus {

    display: flex;
    column-gap: 1rem;

}

.rs-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 9rem;
    background-color: rgb(255, 255, 255);
}

.rs-box div {
    display: flex;
    align-items: center;
    font-family: 'Overlock', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    column-gap: 1rem;
}

.rs-box p {
    display: flex;
    align-items: center;
    font-family: 'Overlock', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    column-gap: 1rem;
}


.rs-box div:nth-child(1) div {

    width: 3rem;
    height: 3rem;
}

.blog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-image {

    min-width: 20rem;
    width: 20rem;
    height: 20rem;
    background-size: contain;
    background-image: url(gameTune/backend_res/1.jpg);
}

.blog-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    max-width: 90%;
    font-family: 'Overlock', sans-serif;
}

.productTitle {
    font-size: 2rem;
    font-weight: bold;

    max-width: 40rem;
}

.productAbout {
    max-width: 40rem;
    width: 100%;
    font-weight: 600;
}

.blog-button {
    display: flex;
    align-items: center;
}

.blog-datial-content {

    display: flex;
}

.top-discount {
    font-family: 'Overlock', sans-serif;
    display: flex;
    justify-content: center;
    column-gap: 2rem;

}

.top-discount div {
    padding: 0.6rem;
    max-width: 25rem;
    display: flex;
    justify-content: center;

}

.discount-product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discount-product-content span {
    font-weight: bold;
}

.discount-image {
    background-size: contain;
    width: 40rem;
}

.outstanding-Products {
    width: 90%;
    font-family: 'Overlock', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.op-products {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.op-product {

    width: 13rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.product-logo {

    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    background-size: contain;
}

@keyframes homeContent {
    0% {
        column-gap: 20rem;
        row-gap: 5rem;
        opacity: 0%;
    }

    100% {
        column-gap: 0rem;
        row-gap: 0rem;
        opacity: 100%;
    }

}

/* product */

.mainContent {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    font-family: 'Overlock', sans-serif;
    height: 100%;
    width: 100%;
    column-gap: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
}

.filter-expand {
    background-color: rgb(255, 255, 255);
    width: 15rem;
    height: 100%;
    max-height: 70rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    overflow: auto;
    overflow-x: auto;
}

.filter-group-content {

    z-index: 10;
    column-gap: 0.5rem;
    display: flex;
    position: static;
    height: 100%;
    left: 1rem;
    justify-content: start;

}


.filter-expand-button {
    display: none;
}

.productandFilter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1rem;
}

.liveFilter {
    width: 97%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.products {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 1rem;
    row-gap: 1rem;
    overflow: auto;
    transition: 0.5s;
}

.fix-to-flex-product {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.op-product-product-pannel {

    width: 10rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-logo-product-pannel {

    width: 9rem;
    height: 9rem;
    min-width: 7rem;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    background-size: contain;
}

.product-para-animate {

    display: none;
}

.product-qty-total {
    font-size: 1.5rem;
    font-weight: bolder;
    white-space: nowrap;
}

.product-para-animate-cart {
    font-size: 0.9rem;
    font-weight: bold;
    height: 2.3rem;
    max-width: 100%;
    display: block;
    overflow: hidden;
    transition: 0.4s;
}

.product-para-animate-cart:hover {
    max-width: 100%;
    display: block;
    height: 10rem;
    overflow: auto;
}

.product-para-animate-cart:hover::-webkit-scrollbar {
    width: 0.5rem;
}

.product-para-animate-cart:hover::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);
    border-radius: 10rem;
}

/* selected product pannel */


.selected-product-image {
    width: 20rem;
    height: 20rem;
    background-image: url(gameTune/backend_res/1.jpg);
    background-size: contain;
}

.selected-product-moreimages {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 20.5rem;
    width: 100%;
}

.selected-product-moreimages div {
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: white;
    cursor: pointer;
    background-size: contain;
}

.show-Reviews {
    width: 90%;
    max-height: 30rem;
    font-family: 'Overlock', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.comment {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-up {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.commenter-logo {
    min-width: 4rem;
    min-height: 4rem;
    background-color: rgb(72, 72, 72);
    border-radius: 100%;
}

.commenter-name {
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2rem;
}

.commenter-reviews {
    padding: 0.5rem;
    min-width: 7rem;
    font-weight: bold;
    text-align: center;
}

.commenter-date {
    width: 90%;
    text-align: end;
}

.comment-para {
    font-family: 'Overlock', sans-serif;
    font-weight: bolder;
}

.comment-imges {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.comment-imges label {
    width: 5rem;
    height: 5rem;
    background-color: rgb(106, 0, 255);

}

/* profile */

.profile-summary {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoAndName-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 30%;
    border-right: 0.1rem rgba(0, 0, 0, 0.395) solid;
}

.LogoAndName-profile div {
    width: 5rem;
    height: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: rgb(80, 80, 80);
}

.profile-user-datials {
    display: flex;
    height: 90%;
    width: 50%;
    flex-direction: column;
    justify-content: center;


}

.profile-user-datials-second {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.profile-options {
    width: 100%;
    margin-top: 1rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.profile-options button {
    width: 100%;
    display: flex;
    justify-content: start;

}

@media (max-width:930px) {
    .navigationOptions {
        display: none;
    }

    .activiteNavidateButton {
        display: block;
    }

    .native-navigation-main-block {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100000;
        display: flex;
        justify-content: start;
    }

    .leftSide {
        /* margin-left: rem; */
        z-index: 10;
    }

    .homeContent div:nth-child(2) {
        margin-top: 1rem;

        width: 30rem;
        height: 30rem;
        background-size: 180% auto;
        margin-left: -10rem;
        background-color: transparent;
        background-image: url(gameTune/portrait-cute-young-gi_UQ5H4k3.png);
    }

    .bodyContent {
        overflow: hidden;
    }

    .responsiveStatus {

        display: flex;
        justify-content: center;
        row-gap: 1rem;
        flex-wrap: wrap;
        column-gap: 1rem;

    }


    .top-discount {
        font-family: 'Overlock', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 2rem;
        row-gap: 1rem;

    }

    .top-discount div {
        padding: 0.6rem;
        width: 90%;
        max-width: 100%;
        display: flex;
        justify-content: center;



    }

    .op-products {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 1rem;
        row-gap: 1rem;
    }
}

@media (max-width:800px) {

    .op-product {

        width: 45%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .products {

        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
        column-gap: 1rem;
        row-gap: 1rem;
        overflow: auto;
        transition: 0.5s;
    }

    .filter-unExpand {
        width: 15rem !important;
        height: 100%;
        transition: 0.5s;
    }

    .filter-expand {
        width: 0rem;
        height: 100%;
        transition: 0.5s;
    }

    .filter-expand-button {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0rem;
        background-image: url(gameTune/icons/Filter.svg);

    }

    .filter-group-content {

        z-index: 10;
        column-gap: 0.5rem;
        display: flex;
        position: fixed;
        height: 80%;
        left: 1rem;
        justify-content: start;

    }

    .mainContent {
        display: flex;
        justify-content: center;
        font-family: 'Overlock', sans-serif;
        height: 100%;
        width: 100%;
        column-gap: 0rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .op-product-product-pannel {

        width: 80%;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .product-logo-product-pannel {

        width: 9rem;
        height: 9rem;
        display: flex;
        flex-direction: row;
        background-size: contain;
    }

    .product-para-animate {
        font-size: 0.9rem;
        font-weight: bold;
        height: 2.3rem;
        max-width: 100%;
        display: block;
        overflow: hidden;
        transition: 0.4s;
    }

    .product-para-animate:hover {
        max-width: 100%;
        display: block;
        height: 10rem;
        overflow: auto;
    }

    .product-para-animate:hover::-webkit-scrollbar {
        width: 0.5rem;
    }

    .product-para-animate:hover::-webkit-scrollbar-thumb {
        background-color: rgb(70, 70, 70);
        border-radius: 10rem;
    }
}

@media (max-width:578px) {

    .op-product {

        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}

@media (max-width:624px) {

    .responsiveStatus {

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        flex-wrap: nowrap;
        column-gap: 1rem;
    }

    .rs-box {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 8rem;
        background-color: rgb(255, 255, 255);

    }

    .rs-box div {
        display: flex;
        align-items: center;
        font-family: 'Overlock', sans-serif;
        font-weight: bolder;
        font-size: 1.4rem;
        column-gap: 1rem;
    }

    .rs-box p {
        display: flex;
        align-items: center;
        font-family: 'Overlock', sans-serif;
        font-weight: bolder;
        font-size: 1rem;
        column-gap: 1rem;
    }


    .rs-box div:nth-child(1) div {

        width: 3rem;
        height: 3rem;
    }

    .blog {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .blog-datial-content {

        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }


}

@media (max-width:750px) {

    .homeContent {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .leftSide span {
        font-size: 2.4rem;
        max-width: 30rem;
        font-family: 'Overlock', sans-serif;
    }

    .leftSide {
        /* margin-left: rem; */
        z-index: 10;
        row-gap: 1rem;
    }

    .homeContent div:nth-child(2) {
        margin-top: 1rem;

        width: 20rem;
        height: 20rem;
        background-size: 180% auto;
        margin-left: 0rem;
        background-color: transparent;
        background-image: url(gameTune/portrait-cute-young-gi_UQ5H4k3.png);
    }

    .bodyContent {
        overflow: hidden;
    }


}

@media (max-width:549px) {


    .navigation {

        display: flex;
        column-gap: 1rem;

    }

    .native-navigation-main-block {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100000;
        display: flex;
        justify-content: start;
    }

    .bodyContent {
        overflow: hidden;
    }


}